body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2D2D2C;
    color: #ffffff;
}

@media (min-width: 768px) {
    body {
        padding: 40px;
    }
}

/* Adăugați mai multe stiluri specifice aplicației dumneavoastră aici */
